facedetect/pyvenv.cfg
facedetect/Scripts
facedetect/output
facedetect/Lib
facedetect/Include
facedetect/__pycache__

qr_code/Include
qr_code/Lib
qr_code/Scripts
qr_code/pyvenv





























/vscode





# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
wheels/

# PyInstaller
# Usually these files are written by a Python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython and Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.*
*.env
*.env.*

# Editor and IDE files
.vscode/
.idea/
*.swp
*~

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Other OS files
*.bak
*.orig
*.rej
*.swo
*.swp
